{% load mediapath %}

<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header p-0 m-0">
            <img src="{% mediapath object.image %}" alt="Картинка" width="200" height="200"/>
        </div>

        <div class="card-body">

            <br>
            <p class="text-uppercase">{{ object.title | truncatechars:30 }}</p></br>
            <br>{{ object.text | truncatechars:50 }}</br>
        </div>

        <div class="card-footer">
            <tr>
                <td><a class="btn btn-secondary" href="{% url 'post_detail' object.slug %}" role="button">View
                    more&raquo</a></td>

                <br>
                <td> &#128269;{{ object.view_count }}</td>
                </br>


                <br>
                <td>&#9997;{{ object.get_comments.count }}</td>
                </br>
            </tr>
        </div>
    </div>
</div>
<style>
    .card-header img {
        padding: 0;

    }
    .card-body {
        max-height: 300px;
        overflow: hidden;
    }
    .card-footer {
        height: 150px;

    }
</style>