{% extends 'base.html' %}
{% load static %}
{% load mediapath %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="row">
            <div class="card-header">
                <img src="{% mediapath object.image %}" alt="Картинка" width="300" height="300"/>
            </div>
        </div>

        <div class="row">
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>Заголовок</td>
                        <td>{{ blog.title }}</td>
                    </tr>
                    <tr>
                        <td>Категория</td>
                        <td>{{ post.category }}</td>
                    </tr>
                    <tr>
                        <td>Дата публикации</td>
                        <td>
                            {{ post.create_at}}
                        </td>
                    <tr>
                        <td>Содержание</td>
                        <td>{{ post.text }}</td>
                    </tr>
                    <tr>
                        <td>Теги</td>
                        <td>{% if post.tags.all %}</td>
                        <td>{% for tag in post.tags.all %}</td>

                        <td><a href="{% url 'post_by_tags' tag.slug %}">{{ tag }}</a></td>

                        <td>{% endfor %}</td>
                        <td>{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Автор</td>
                        <td>by
                            {{ post.author }}
                        <td>
                    </tr>
                    <tr>
                        <td>Количество просмотров</td>
                        <td>{{ object.view_count }}</td>
                    </tr>
                    <tr>
                        <td>Количество комментариев</td>
                        <td>{{ post.get_comments.count }} Comment</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card-footer">
            <table class="table">
                <tr>
                    <td> {% for comment in post.get_comments %}</td>
                    <td>{{ comment.name }}</td>
                    <td>{{ comment.create_at }}</td>
                    <td>{{ comment.message }}</td>
                    <td>{% endfor %}</td>
                </tr>
            </table>
        </div>

    </div>
</div>

<div class="container">
    <div class="single-post">
        <div class="widget__title">
            <h4>Leave a comment</h4>
        </div>


        <form action="{% url 'create_comment' pk=post.id %}" method="post">
            {% csrf_token %}

            <div class="input-list">
                {{ form.name }}
                {{ form.email }}
                {{ form.website }}
            </div>
            {{ form.message }}
            <button type="submit" class="site-btn">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

