{% extends 'main/base.html' %}
{% load blog_tags %}
{% load static %}
{% block content %}

<div class="container">
    <div class="col-4 ">
        {% if user.is_authenticated %}
        {% else %}
        <div class="divider"></div>
        <div>Форма подписки</div>
        <a class="text-muted" href="{% url 'users:register' %}">Subscribe</a>
        {% endif %}
    </div>
    <h2 class="w-100 text-dark text-center text-capitalize">Medical blog</h2>

    <hr class="dropdown-divider">
    <div>
        {% include 'main/tag_bar.html' %}
    </div>
    <hr class="dropdown-divider">
    <div class="d-flex justify-content-between align-items-stretch">
        <div class="w-50 flex-fill">
            {% include 'main/includes/card_main_post.html' with post=main_post %}


            <div class="divider"></div>
            {% for m_post in main_posts %}
            {% include 'main/includes/card_other_posts.html' with post=m_post %}
            {% endfor %}
        </div>
        <div class="divider"></div>
        <div class="flex-fill other_news w-25">
            {% for o_post in other_posts %}
            {% include 'main/includes/card_other_posts.html' with post=o_post %}
            {% endfor %}
        </div>
        <div class="divider"></div>
        <div class="flex-fill">
            {% include 'main/sidebar_category.html' %}
        </div>
    </div>
</div>

<style>
    .divider {
        border: 1px solid rgba(0, 0, 0, 0.25);
        margin: 0.25rem;
    }
</style>
{% endblock %}