{% load static %}

<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'main:home' %}">HolaMed</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'main:home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_list' %}">Posts</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    {% endif %}
                </li>

            </ul>
            <div class="col-4 d-flex justify-content-end align-items-center pr-2">
                {% if user.is_authenticated %}
                <a class="p-2 btn btn-outline-primary" href="{% url 'users:logout' %}">Logout</a>
                {% else %}
                <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Sign in</a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>





